body {
    font-family: Roboto, sans-serif;
    color: white;
}
.container-fluid {
    background-image: url("images/backgroundimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}