/* body */
body {
    font-family: Roboto, sans-serif;
    color: white;
    font-size: large;
}
.container-fluid {
    background-image: url("images/backgroundimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
/* paragraphs */
p {
    background-color: #532B2B;
}
p span {
    display: block;
}
/* names */
.names {
    display: flex;
}
.names .male {
    background-color: #532B2B;
    width: 50%;
    margin-right: 30rem;
    margin-left: 5rem;
    padding: 2rem;
} 
.male ul {
    line-height: 2rem;
}
.names .female {
    background-color: #532B2B;
    width: 50%;
    margin-right: 30rem;
    margin-left: 5rem;
    padding: 2rem;
}
.female ul {
    line-height: 2rem;
}
/* forms */
.proof {
    background-color: #532B2B;
    height: 80vh;
}
.proof h2 {
    padding: 1rem;
}
.forms {
    margin-left: 10rem;
}
.form-group-row {
    margin-left: 10rem;
}
.gndr {
    margin-left: 10rem;
}

.button {
    margin-left: 10rem;
    display: flex;
    justify-content: space-between;
    width: 20%;
}